<div id='container'>
  <form action='#' method='get' accept-charset='utf-8'>
    <div data-role='fieldcontain'>
      <fieldset id='type' data-role='controlgroup' data-type='horizontal' data-mini='true'>
        <input type='radio' name='' id='radio-choice-1' value='login' checked='checked' /><label for='radio-choice-1'>Login</label>
        <input type='radio' name='' id='radio-choice-2' value='register'/><label for='radio-choice-2'>Register</label>
      </fieldset>
    </div>
    <div data-role='fieldcontain'>
      <input type='text' name='' placeholder='Username' id='username' />
      <input type='password' name='' placeholder='Password' id='password' />
      <input type='password' name='' placeholder='Confirm Password' id='confirm' />
    </div>
    <input type='submit' value='Submit' id='submit' />
  </form>
</div>


<!-- stupid necessity for now --><label>