<div class="box" id="container">
  <div class="boxheading clearfix"><h3>Project Overview</h3><a class="move"></a></div>
  <section>
    <a href="#notes" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Notes</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
    <a href="#" class="btn_icon square">
        <img src="images/glyphicons/glyphicons_029_notes_2.png" />
        <span class="span1">Tasks</span>
    </a>
  </section>
</div>